@charset "UTF-8";

@media screen and (min-width: 768px)
{
    #menuhamb{
        display: none;
    }
    
    .itens{
        display: inline;
    }
    nav ul li a{
        display: inline;
    }

}